In [48]:
print('Hello')

Hello

In [49]:
import pandas as pd
import numpy as np

In [50]:
movie = pd.read_csv('tmdb_5000_movies.csv')
credit = pd.read_csv('tmdb_5000_credits.csv')

In [51]:
movie.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [52]:
credit.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [53]:
movie = movie.merge(credit , on='title')
movie.shape

(4809, 23)

In [54]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [55]:
movie = movie[['movie_id','title','overview','genres','keywords','cast','crew']]
movie.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [56]:
movie.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [57]:
movie.dropna(inplace=True)
movie.isnull().sum()
# movie.duplicated().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [58]:
movie.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [59]:
import ast
# '[{ asdga}]' to [{ asgdga}] i.e remove string

In [60]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [61]:
# convert([{"same":"123","title
movie['genres'] = movie['genres'].apply(convert)
movie.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [62]:
movie['keywords'] = movie['keywords'].apply(convert)
movie.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [63]:
def convert3(obj):
    L = []
    count=0
    for i in ast.literal_eval(obj):
        if count != 3:
            L.append(i['name'])
            count+=1
        else:
            break
    return L

In [64]:
movie['cast'] = movie['cast'].apply(convert3)
movie.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [65]:
# def fetch_director(obj):
#     objo = ast.literal_eval(obj)
#     L = []
#     for i in ast.literal_eval(obj):
#         if i['job'] == 'Director':
#             L.append(i['name'])
#             break
#     return L
import ast
def fetch_director(obj):
    directors = []
    try:
        obj_list = ast.literal_eval(obj)
        for item in obj_list:
            if item.get('job') == 'Director':
                directors.append(item.get('name'))
                break  # Assuming you only want the first director, otherwise remove this line
    except (ValueError, SyntaxError) as e:
        return []  # Return an empty list if there's an error

    return directors

# Applying the function to the DataFrame column
# movie['crew'] = movie['crew'].apply(fetch_director)

In [66]:
movie['crew'] = movie['crew'].apply(fetch_director)
movie.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [67]:
movie['overview'] = movie['overview'].apply( lambda x: x.split())

In [68]:
movie['genres'] = movie['genres'].apply( lambda x : [i.replace(" ","") for i in x]) 
movie['cast'] = movie['cast'].apply( lambda x : [i.replace(" ","") for i in x]) 
movie['keywords'] = movie['keywords'].apply( lambda x : [i.replace(" ","") for i in x]) 
movie['crew'] = movie['crew'].apply( lambda x : [i.replace(" ","") for i in x])

In [69]:
movie['tag'] = movie['overview'] + movie['genres'] + movie['keywords']

In [70]:
new_df = movie[['movie_id','title','tag']]

In [71]:
new_df['tag'] = new_df['tag'].apply(lambda x: " ".join(x))

C:\Users\KIIT\AppData\Local\Temp\ipykernel_5360\2478816713.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag'] = new_df['tag'].apply(lambda x: " ".join(x))

In [72]:
new_df['tag'] = new_df['tag'].apply(lambda x: x.lower())

C:\Users\KIIT\AppData\Local\Temp\ipykernel_5360\4117075537.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag'] = new_df['tag'].apply(lambda x: x.lower())

In [73]:
# %pip install scikit-learn

In [74]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [75]:
vectors = cv.fit_transform(new_df['tag']).toarray()

In [76]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zombies', 'zone', 'zoo'], dtype=object)

In [77]:
# %pip install nltk

In [78]:

import nltk

In [79]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [80]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [81]:
# stem("working is good ")
new_df['tag'] = new_df['tag'].apply(stem)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_5360\3399941032.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag'] = new_df['tag'].apply(stem)

In [82]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [84]:
import pickle
import json
# Save the similarity matrix to a .pkl file
# with open('similarity_matrix.pkl', 'wb') as f:
#     pickle.dump(similarity, f)

pickle.dump(similarity,open('similarity_matrix.pkl', 'wb'))
similarity_list = similarity.tolist() 
json.dump(similarity_list,open('similarity_matrix.json', 'w'))

TypeError: Object of type ndarray is not JSON serializable

In [ ]:
def recomend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distance = similarity[movie_index]
    movie_list = sorted(list(enumerate(distance)),reverse=True, key=lambda x : x[1])[1:6]
    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [ ]:
recomend('Suicide Squad')

Spawn
Thunderbirds
Megamind
X-Men
RED

In [ ]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))
# pickle.dump(similarity)

new_df_dict = new_df.to_dict()
with open('movie_dict.json', 'w') as f:
    json.dump(new_df_dict, f)